---

name: Build container image
on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - Containerfile
      - .github/workflows/build.yaml
      - landmarks.yaml
      - translocators.yaml

permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        file: ./Containerfile
        push: true
        tags: ghcr.io/${{ github.repository_owner }}/tof-map:latest